.app-navigation {
    display: flex;
    align-items: center;

    a {
        display: block;
        padding: 0.25rem;
        margin: 0 0.5rem;
        text-decoration: none;
        color: $color-purple;
    }
}
